##Import the datasets

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df_red = pd.read_csv('https://raw.githubusercontent.com/loycatherine/dataset/master/winequality-red.csv?token=AMBYZPREW63E76FIXIZC4PK7FPBAA', sep=';')

In [ ]:
df_red.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.4              0.70         0.00  ...       0.56      9.4        5
1            7.8              0.88         0.00  ...       0.68      9.8        5
2            7.8              0.76         0.04  ...       0.65      9.8        5
3           11.2              0.28         0.56  ...       0.58      9.8        6
4            7.4              0.70         0.00  ...       0.56      9.4        5

[5 rows x 12 columns]

In [ ]:
df_white = pd.read_csv('https://raw.githubusercontent.com/loycatherine/dataset/master/winequality-white.csv?token=AMBYZPXS6APX6KFBCW4G2FS7FPBKU', sep=';')

In [ ]:
df_white.head()

   fixed acidity  volatile acidity  citric acid  ...  sulphates  alcohol  quality
0            7.0              0.27         0.36  ...       0.45      8.8        6
1            6.3              0.30         0.34  ...       0.49      9.5        6
2            8.1              0.28         0.40  ...       0.44     10.1        6
3            7.2              0.23         0.32  ...       0.40      9.9        6
4            7.2              0.23         0.32  ...       0.40      9.9        6

[5 rows x 12 columns]

##Feature Selection for both Red and White wine

In [ ]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [ ]:
features_red = df_red.iloc[:,0:11]  #independent columns
quality_red = df_red.iloc[:,-1]   #target column i.e quality

In [ ]:
features_red

      fixed acidity  volatile acidity  citric acid  ...    pH  sulphates  alcohol
0               7.4             0.700         0.00  ...  3.51       0.56      9.4
1               7.8             0.880         0.00  ...  3.20       0.68      9.8
2               7.8             0.760         0.04  ...  3.26       0.65      9.8
3              11.2             0.280         0.56  ...  3.16       0.58      9.8
4               7.4             0.700         0.00  ...  3.51       0.56      9.4
...             ...               ...          ...  ...   ...        ...      ...
1594            6.2             0.600         0.08  ...  3.45       0.58     10.5
1595            5.9             0.550         0.10  ...  3.52       0.76     11.2
1596            6.3             0.510         0.13  ...  3.42       0.75     11.0
1597            5.9             0.645         0.12  ...  3.57       0.71     10.2
1598            6.0             0.310         0.47  ...  3.39       0.66     11.0

[1599 rows x 11 columns]

In [ ]:
quality_red

0       5
1       5
2       5
3       6
4       5
       ..
1594    5
1595    6
1596    6
1597    5
1598    6
Name: quality, Length: 1599, dtype: int64

In [ ]:
bestfeatures = SelectKBest(score_func=f_regression, k=10)
fit = bestfeatures.fit(features_red,quality_red)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(features_red.columns)

#concat two dataframes for better visualization 
featureScores_red = pd.concat([dfcolumns,dfscores],axis=1)
featureScores_red.columns = ['Specs','Score']  #naming the dataframe columns
print('Red Wine')
print(featureScores_red.nlargest(11,'Score'))  #print 10 best features

Red Wine
                   Specs       Score
10               alcohol  468.267011
1       volatile acidity  287.444450
9              sulphates  107.740433
2            citric acid   86.257726
6   total sulfur dioxide   56.657818
7                density   50.405223
4              chlorides   26.985608
0          fixed acidity   24.960038
8                     pH    5.340462
5    free sulfur dioxide    4.108502
3         residual sugar    0.301184

In [ ]:
features_white = df_white.iloc[:,0:11]  #independent columns
quality_white = df_white.iloc[:,-1]   #target column i.e price range

In [ ]:
bestfeatures = SelectKBest(score_func=f_regression, k=10)
fit = bestfeatures.fit(features_white,quality_white)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(features_white.columns)

#concat two dataframes for better visualization 
featureScores_white = pd.concat([dfcolumns,dfscores],axis=1)
featureScores_white.columns = ['Specs','Score']  #naming the dataframe columns
print('White Wine')
print(featureScores_white.nlargest(11,'Score'))  #print 10 best features

White Wine
                   Specs        Score
10               alcohol  1146.395496
7                density   509.911101
4              chlorides   225.727097
1       volatile acidity   192.958204
6   total sulfur dioxide   154.198182
0          fixed acidity    64.080465
8                     pH    48.884022
3         residual sugar    47.064087
9              sulphates    14.147680
2            citric acid     0.415252
5    free sulfur dioxide     0.325870

In [ ]:
# Select the top 4 best features for both red and white wine
features_red.drop(columns=['density', 'chlorides', 'fixed acidity', 'pH', 'free sulfur dioxide', 'residual sugar', 'total sulfur dioxide'], inplace=True)

In [ ]:
features_red

      volatile acidity  citric acid  sulphates  alcohol
0                0.700         0.00       0.56      9.4
1                0.880         0.00       0.68      9.8
2                0.760         0.04       0.65      9.8
3                0.280         0.56       0.58      9.8
4                0.700         0.00       0.56      9.4
...                ...          ...        ...      ...
1594             0.600         0.08       0.58     10.5
1595             0.550         0.10       0.76     11.2
1596             0.510         0.13       0.75     11.0
1597             0.645         0.12       0.71     10.2
1598             0.310         0.47       0.66     11.0

[1599 rows x 4 columns]

In [ ]:
for name, values in features_red.iteritems():
  print('{name}: {min} , {max}'.format(name=name, min=values.min(), max=values.max()))

volatile acidity: 0.12 , 1.58
citric acid: 0.0 , 1.0
sulphates: 0.33 , 2.0
alcohol: 8.4 , 14.9

In [ ]:
features_white.drop(columns=['total sulfur dioxide', 'fixed acidity', 'pH', 'residual sugar', 'sulphates', 'citric acid', 'free sulfur dioxide'], inplace=True)

In [ ]:
features_white

      volatile acidity  chlorides  density  alcohol
0                 0.27      0.045  1.00100      8.8
1                 0.30      0.049  0.99400      9.5
2                 0.28      0.050  0.99510     10.1
3                 0.23      0.058  0.99560      9.9
4                 0.23      0.058  0.99560      9.9
...                ...        ...      ...      ...
4893              0.21      0.039  0.99114     11.2
4894              0.32      0.047  0.99490      9.6
4895              0.24      0.041  0.99254      9.4
4896              0.29      0.022  0.98869     12.8
4897              0.21      0.020  0.98941     11.8

[4898 rows x 4 columns]

##Training the models

In [ ]:
from sklearn.model_selection import train_test_split 
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [ ]:
features_train_red, features_test_red, quality_train_red, quality_test_red = train_test_split(features_red, quality_red, test_size=0.2, random_state=0)

In [ ]:
features_train_white, features_test_white, quality_train_white, quality_test_white = train_test_split(features_white, quality_white, test_size=0.2, random_state=0)

In [ ]:
regressor = LinearRegression()

In [ ]:
regressor.fit(features_train_red, quality_train_red)

In [ ]:
#To retrieve the intercept:
print(regressor.intercept_)
#For retrieving the slope:
print(regressor.coef_)

In [ ]:
quality_pred_red = regressor.predict(features_test_red)

In [ ]:
df = pd.DataFrame({'Actual': quality_test_red, 'Predicted': quality_pred_red})
df.sort_index()

In [ ]:
import pickle
# save modl for red wine
pickle.dump(regressor, open('model_red.pkl','wb'))

In [ ]:
model_red = pickle.load(open('model_red.pkl','rb'))
print(model_red.predict([[0.800, 0.01, 0.68, 9.4]]))

In [ ]:
regressor.fit(features_train_white, quality_train_white)

In [ ]:
#To retrieve the intercept:
print(regressor.intercept_)
#For retrieving the slope:
print(regressor.coef_)

In [ ]:
quality_pred_white = regressor.predict(features_test_white)

In [ ]:
df = pd.DataFrame({'Actual': quality_test_white, 'Predicted': quality_pred_white})
df.sort_index()

In [ ]:
# save model for white wine
pickle.dump(regressor, open('model_white.pkl','wb'))

In [ ]:
model_white = pickle.load(open('model_white.pkl','rb'))
print(model_white.predict([[0.27, 0.045, 1.00100, 8.8]]))

In [ ]:
# check data type for flask application
dataTypeSeries = df_red.dtypes

In [ ]:
print(dataTypeSeries)